/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
body{
	background-color: #ffffff;
	padding:0 0 30px 0;
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	color:#333333;
	font-size:13px;
}

/* clear */
.clear {
	clear:both;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
}

hr {
	clear:both;
	border:0;
	height:4px;
	border:none;
	background-image:url('lines.gif');
	background-position:left top;
	background-repeat:repeat-x;
}

/* -------------------------------------------------------------------------------------
 HEADINGS
 ======================================================================================*/

/* headers */
h1 {	
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	color:#D86422;
	padding:0;
	margin:0 0 18px 0;
}

#branding h1 {
	color: #fff;
	margin: 10px 0px;
}

h2, h1.title {
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	color:#333333;
	padding:18px 0 0 0;
	margin:0 0 18px 0;
}
h3 {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:6px 0 0 0;
	margin:0 0 9px 0;
}
h4 {
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	margin:0 0 6px 0;
}
h5 {
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	color:#666666;
}
h6 {
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	color:#333333;
}

/* -------------------------------------------------------------------------------------
 TEXT 
 ======================================================================================*/

/* paragraph */
p {
	font-size:13px;
	line-height:18px;
	margin:0 0 18px 0;
}


/* text */
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
sup, sub {
	position: relative;
	font-size:9px;
	height:1;
	line-height:1;
	vertical-align: baseline;
	_vertical-align: bottom;
	background-color:#CCCCCC;	
}
sup {
	bottom:0.8ex;
}
sub {
	top:.5ex;
}
cite{
	font-style:italic;
}
cite:before {
	content:"«";
}
cite:after {
	content:"»";
}


/* -------------------------------------------------------------------------------------
 links
 ------------------------------------------------------------------------------------- */

/* link */
a {
	color:#196AAA ;
	text-decoration:none;
}
a:visited {
    color: #0F4262;
}
a:hover {
	color:#D86422;
	text-decoration:none;
}
a[name], a[name]:hover, a.anchor, a.anchor:hover {
	color:#333333;
}

/* -------------------------------------------------------------------------------------
 CONTAINERS & BOXES
 ======================================================================================*/

/* #inlay (box element) */
.inlay, .inlay_color {
	padding:9px 9px 4px 9px;
	border:1px solid #CCCCCC;
	margin:0 0 18px 0;
	zoom:1;
	overflow: hidden;
}
.inlay_color {
	background-color:#F5F5F5;
	border: 1px solid #e6e6e6;
}

/* box */
.box {
	clear:both;
	background-image:url('img/lines.gif');
	background-position:left top;
	background-repeat:repeat-x;
	padding:9px 0 18px 0;
}
.plainbox {
	clear:both;
	padding:0 0 5px 0;
}
.box_title {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0 0 0 0;
	margin:0 0 12px 0;
}
.box_subtitle {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	margin:0 0 9px 0;
	padding:5px 0 0 0;
	border-top:1px solid #CCCCCC;
}

/* -------------------------------------------------------------------------------------
 FORMS
 ======================================================================================*/

/* form */
.form {
	margin:0 0 18px 0;
}
.form br {
	clear:both;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
}

/* fieldset */
.form fieldset {
	padding:0 0 6px 0;
	margin:0 0 29px 0;
	border-bottom:1px solid #CCCCCC;
}

.form fieldset legend {
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:20px;
	line-height:21px;
	font-weight:bold;
	color:#000000;
	padding:3px 0 3px 0;
	margin:0;
}

/* field */
.form .field {
	margin:0 0 9px 0;
}



/* label */
label, .label {
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333333;
	padding:3px 0 3px 0;
}
.form .label {
	display:block;
	float:left;
	width:110px;
}

/* error & info */
span.error, span.info {
	clear:both;
	display:block;
	float:left;
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333333;
	padding:3px 5px 6px 120px;
}

/* error */
.form span.error {
	color:#FF0000;
}
.form .error label {
	color:#FF0000;
}
.form .error input {
	border-color:#FF0000;
}


/* info  */
.form .info {
	color:#666666;
}

/* inputs */
.input, input.text, select.select, textarea.textarea, input.radio, input.checkbox, input.submit, .submit input {
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333333;
	margin:0;	
}
.form .input, .form input.text, .form select.select, .form textarea.textarea, .form input.radio, .form input.checkbox, .form .dropdown {
	display:block;
	float:left;
	margin:0 0 0 10px;
}

input.text:focus, select.select:focus, textarea:focus {
	border-color:#D86422;
}


/* input */
.input {
	padding:4px 0px 2px 0px;
}

/* text input */
input.text {
	width:140px;
	height:18px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:4px 4px 0px 4px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
input.tsmall {
	width:60px;
}
input.tsmall-2 {
	width:140px;
}
input.tlarge {
	width:350px;
}

/* textarea */
textarea.textarea {
	width:138px;
	height:72px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:2px 5px 2px 5px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
textarea.talarge {
	width:348px;
	height:200px;
}


/* select */
select.select {
	width:150px;
	height:24px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:3px 1px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
select.ssmall {
	width:70px;
}
select.slarge {
	width:360px;
}

/* radio */
input.radio {
	border:none;
	background-color:transparent;
}
.form input.radio {
	padding:0;
	margin:6px 5px 0 10px;
}
label.label_radio {
	display:block;
	float:left;
	margin-right:15px;
}


/* checkbox */
input.checkbox {
	border:none;
	background-color:transparent;
}
.form input.checkbox {
	padding:1px 0 0 0;
	margin:5px 5px 0 10px;
}
label.label_checkbox {
	display:block;
	float:left;
	margin-right:15px;
}

/* submit */
input.submit {
	display:block;
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	color:#333333;
	padding:8px 10px;
	margin:0;
	border:1px solid #CCCCCC;
	background-color:#F5F5F5;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
input.submit:hover {
	color:#D86422;
	cursor:pointer;
}
input.primary {
	color:#196AAA ;
	border-color:#196AAA ;
}

/* -------------------------------------------------------------------------------------
 TABLE
 ======================================================================================*/

/* table */
table.tableData, table.borderOn {
	width:100%;
	border-collapse:collapse;
	margin:0 0 18px 0;
}
table.tableData thead td, table.tableData tbody th, table.tableData tbody td, table.borderOn thead td, table.borderOn tbody th, table.borderOn tbody td {
	font-size:13px;
	line-height:18px;
	padding:3px 5px 6px 5px;
	background-color:#F5F5F5;
	border-bottom:3px solid #FFFFFF;
}
table.tableData tfoot th, table.tableData tfoot td, table.borderOn tfoot th, table.borderOn tfoot td {
	font-size:12px;
	line-height:18px;
	padding:9px 0 3px;
	color:#999999;
}
.borderOn td {
border-right:1px solid #ccc;
border-left:1px solid #ccc;
}

table.tableData thead td, table.borderOn thead td {
	font-weight: bold;
	background-color:#E1E1E1;
}

/* MAIN */

/* page */
#page {
	width:990px;
	padding:0 0 10px 0;
	margin:0 auto;
	background-color:#F5F5F5;
	background-image:url('img/shadow-bottom.gif');
	background-position:left bottom;
	background-repeat:no-repeat;
}

/* page */
.fluid #page {
	padding: 0;
	width:90%;
	background-image: none;
	border-bottom: solid 1px #ccc;
}
#wrapper {
	padding:0 5px;
	background-color:#F5F5F5;
	background-image:url('img/shadow.gif');
	background-position:left top;
	background-repeat:repeat-y;
}
.fluid #wrapper {
	padding: 0;
	background-image:none;
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
}


/* header */
#header {
	position:relative;
	padding:0px;
	background-color:#008dc9;
	padding:10px 15px;
}

/* main */
#main {
	clear:both;
	background-color:#FFFFFF;
}

/* title */
#title {
	padding:10px 15px 9px 15px;
	background-color:#F5F5F5;
	border-bottom:1px solid #CCCCCC;
}

#title h1 {
	margin: 0px;
}

/* content */
#content {
	padding:0px;
}


/* footer */
#footer {
	height: 50px;
	background-color:#FFFFFF;
	background-image: url('WHO_LOGO.png');
	background-repeat: no-repeat;
	background-position: right center;
	
}

/* foot */
#foot {
	left:15px;
	bottom:0px;
	width:300px;
}

#foot a, #foot span {
	display:block;
	float:right;
	color:#666666;
	padding:5px 2px;
}
#foot p a:hover {
	color:#D86422;
}
#foot p, #foot p a {
	color:#666666;
	font-size:12px;
}


.Sign_Form{
	text-align: center;
	margin:auto;
	margin-top:10px;	
	width:500px;
	background-color: rgba(0, 0, 0, .2);
	padding-bottom:20px;
	padding-top:2px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;

}

.Signup_Errors{
	list-style-type: none;
	text-align:left;
	margin-left:66px;
	color:red;
}


.Main_Header {
	height: 70px;
	background-color:#008dc9;
	background-image: url('who_wrapper_en.gif');
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.Main_Footer {
	height: 50px;
	background-color:#FFFFFF;
	background-image: url('WHO_LOGO.png');
	background-repeat: no-repeat;
	background-position: right center;
}

.App_Header{
	/*background-image: url('header_bg.png');
	height:60px;
	padding:0 20px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;*/
  height:20px;	
  padding: 7px 14px;
  margin: 0 px;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;

}

#user_header{
	/*background-image: url('header_bg.png');
	height:60px;
	padding:0 20px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;*/
  height:40px;	
  padding: 7px 7px;
  margin: 0 0 0 0px;
  background-color: #DBEEF9;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}

.session_header {
	float: right;
}

.App_Header h1{
	float:left;
	margin-top:0px;
	color:#C4C1BD;
	/*background-image: url('ruby-source-logo.png');
	height:43px;
	width:215px;
	text-indent:-9999px*/;
}

.nav{
	list-style-type: none;
	float: right;
	margin: 0px;
	color:#C4C1BD;

}
.nav li{
	display: inline;
	margin-right:5px;

}
.nav_links{
	color: #C4C1BD;
	text-decoration: none;
} 

.notice, .valid_notice, .invalid_notice{
	height:35px;
	width: 400px;
	margin:auto;
	margin-top:20px;
}
.notice, .invalid_notice p, .valid_notice p{
	text-align:center;
	margin-top:6px;
}

.notice{
	background-color: transparent;
	display:none;
}

.invalid_notice{
	background-color: #FFCCCC;
	border:1px solid red;
	display:none;
}
.valid_notice{
	background-color: #CCFFCC;
	border:1px solid green;
	display:none;
}

#WorkArea{
	margin:0px 160px 0px 200px;
	padding: 10px 10px;
	height: 475px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	
}

.actions {
	float:bottom;
}


.teste {
	position: relative;
	width: 400px;
	height: 400px;
	text-align: left;
	line-height: 50px;
	background-color: #fff;
	border: 2px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	padding: 10px;
}


.teste:before {
	content: ' ';
	position:absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #666;
	border-width:13px 15px 13px 0;
	left: -15px;
	top: 25px;
}

.teste:after {
	content: ' ';
	position:absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #fff;
	border-width:13px 15px 13px 0;
	left: -12px;
	top: 25px;
}
