    <header class="pageHeader">
      <div id="whoHeader">
        <%= link_to "", "http://www.who.int", linkindex:"0", title:"WHO | World Health Organization" %>
      </div>
      <aside class="appTitle">
        <h1 id="whoAppTitle">HIV Resistance Surveillance Database</h1>
      </aside>
    </header>
